#button {
  border-radius: 100%;
  width: 200px;
  height: 200px;
  font-size: 60px;
  font-weight: 800;
}

.container-buttons {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-left: 10px;
  margin-top: 30px;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.button-red {
  background-color: red;
}

.button-yellow {
  background-color: yellow;
}

.button-green {
  background-color: green;
}