.title {
  text-align: center;
}

.container-pokemon {
  padding: 0 25% 0 25%;
}

.pokemons {
  display: flex;
  border: 1px solid black;
  margin-bottom: 10px;
}

.img {
  display: flex;
}

p {
  display: flex;
  margin-left: 20px;
  width: 40px;
  text-align: center;
  flex-direction: column-reverse;
}
